<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletInicio</servlet-name>
        <servlet-class>Servlets.ServletInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Servlets.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrarse</servlet-name>
        <servlet-class>Servlets.Registrarse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <servlet-class>Servlets.ServletCerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProductos</servlet-name>
        <servlet-class>Servlets.ServletProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVenta</servlet-name>
        <servlet-class>Servlets.ServletVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImagenes</servlet-name>
        <servlet-class>Servlets.ServletImagenes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInicio</servlet-name>
        <url-pattern>/ServletInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrarse</servlet-name>
        <url-pattern>/Registrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCerrarSesion</servlet-name>
        <url-pattern>/ServletCerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProductos</servlet-name>
        <url-pattern>/ServletProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVenta</servlet-name>
        <url-pattern>/ServletVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImagenes</servlet-name>
        <url-pattern>/ServletImagenes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
